/* File name: main.css
 * Date created: 14 Febuary 2020
 * Author: Tlotlego Kgatitsoe
 * Last modified: 17 Febuary 2020
 * Description: The main styling file for TK Furnitures.
 */

/*  */

body {
	background-color: #f1f1f1;
}

#container {
	padding: 0px;
	margin: 0px;
}

h2 {
	font-weight: 300;
	font-size: 30px;
}

.product-box {
	padding: 8px;
	border: 1px solid #808080;
	box-shadow: 1px 1px 1px 1px #808080;
	border-radius: 4px;
	display:inline-block;
	padding: 16px;
	background-color: #fff;
	margin: 8px;
}

.product-number {
	font-family: Helvetica;
	font-weight: lighter;
	padding: 8px;
}

.product-short-description {
	margin: 8px 0px 8px 0px;
	max-height: initial;
}

.inCart {
	color: #808080;
}

.product-price {
	margin: 8px 0px;
}

.product-button {
	color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
	border-radius: 4px;
	margin-top: 8px;
}

.addToCartButtons {
	display: block;
}

.text-button {
	color: #000;
	background-color: #fff;
}

    .text-button:hover {
    	border: 1px solid #007bff;
    	background-color: #fff;
	    color: #000;
    }